.app.-size
 ._text.-bottom Скачайте приложение и получите приветственный бонус!
 ._links
    a._link(href="#").-right: img(src="img/appstore.png", alt="app store link")
    a._link(href="#"): img(src="img/googleplay.png", alt="google play link")