nav.bottom-nav.-size
    ul._list
        li._link.-bottom: a(href="#") О нас
        li._link.-bottom: a(href="#") Помощь
        li._link.-bottom: a(href="#") Репетиторам 
        li._link.-bottom: a(href="#") Аккредитация языковых школ 
        li._link.-bottom: a(href="#") Пользовательское соглашение 
        li._link.-bottom: a(href="#") Политика конфиденциальности