.tabs
    .tab.active
        .chat.-top
            ._top
                time._period Октябрь 2018
            include message
            +message('15', 'Октября', '18:00 - 20:00', 'message__country--germany', 'Иван Сокольский', '24 года, Россия, среднее образование', 'message__avatar--user1', 'Беседа', 'message__flag--germany', 'message__date--normal', 'message__name--color_main')
            +message('17', 'Октября', '18:00 - 20:00', 'message__country--portugal', 'Константин Константинопольский', '24 года, Россия, Высшее образование, Профессиональный репетитор', 'message__avatar--user2', 'Урок', 'message__flag--russia', 'message__date--normal', 'message__name--color_main')
            +message('17', 'Октября', '19:00 - 20:00', 'message__country--germany', 'Анна Петрова', '24 года, Россия, среднее образование', 'message__avatar--user3', 'Беседа', 'message__flag--britan', 'message__date--normal', 'message__name--color_main')
        .chat.-top.-border
            ._top
                time._period Ноябрь 2018
            include message
            +message('15', 'Ноября', '18:00 - 20:00', 'message__country--germany', 'Поиск собеседника', 'Любой пол, среднее образование', 'message__avatar--phone', 'Беседа', 'message__flag--germany', 'message__date--normal', 'message__name--color_red')
            +message('17', 'Ноября', '18:00 - 20:00', 'message__country--portugal', 'Катерина Иванова', '44 года, Россия, Высшее образование, Профессиональный реп...', 'message__avatar--user4', 'Урок', 'message__flag--russia', 'message__date--agreement', 'message__name--color_main')
    .tab
        .chat.-top.-border
            ._top
                time._period Ноябрь 2018
            include message
            +message('15', 'Ноября', '18:00 - 20:00', 'message__country--germany', 'Поиск собеседника', 'Любой пол, среднее образование', 'message__avatar--phone', 'Беседа', 'message__flag--germany', 'message__date--normal', 'message__name--color_red')
            +message('17', 'Ноября', '18:00 - 20:00', 'message__country--portugal', 'Катерина Иванова', '44 года, Россия, Высшее образование, Профессиональный реп...', 'message__avatar--user4', 'Урок', 'message__flag--russia', 'message__date--agreement', 'message__name--color_main')
    .tab
        .chat.-top.-border
            ._top
                time._period Октябрь 2018
            include message
            +message('15', 'Октября', '18:00 - 20:00', 'message__country--germany', 'Иван Сокольский', '24 года, Россия, среднее образование', 'message__avatar--user1', 'Беседа', 'message__flag--germany', 'message__date--normal', 'message__name--color_main')
            +message('17', 'Октября', '18:00 - 20:00', 'message__country--portugal', 'Константин Константинопольский', '24 года, Россия, Высшее образование, Профессиональный репетитор', 'message__avatar--user2', 'Урок', 'message__flag--russia', 'message__date--normal', 'message__name--color_main')
            +message('17', 'Октября', '19:00 - 20:00', 'message__country--germany', 'Анна Петрова', '24 года, Россия, среднее образование', 'message__avatar--user3', 'Беседа', 'message__flag--britan', 'message__date--normal', 'message__name--color_main')