nav.main-nav.-size
    ul._list
        li._item.-right
            a._link(href="#") Календарь
        li._item.-right
            a._link(href="#") Сообщения
        li._item.-right
            a._link(href="#") Собеседники
        li._item.-right
            a._link(href="#") Репетиторы
    button._sandwich
        include ../../img/mobile-menu.svg
    ul._list.-mobile
        li._item.-right
            a._link(href="#") Календарь
        li._item.-right
            a._link(href="#") Сообщения
        li._item.-right
            a._link(href="#") Собеседники
        li._item.-right
            a._link(href="#") Репетиторы
