.user-info
    ._avatar.-left
        img(src="img/bitmap.png" alt="мой аватар")
    ._name.-bottom Екатерина М.
    ._descr
        ._sum
            span 52
            img(src="img/g.svg", alt="иконка")
        ._money.-border
            span 2394 &#36;